{% extends 'base.html' %}

{% block title %}Creating proposal{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi {{ user.email }}!
  <a href="{% url 'logout' %}">Log Out</a></p>
  <p>User id: {{ user.id }}</p>
  <p>Private key: {{ user.private_key }}</p>
  <p>Eth address: {{ user.eth_address }}</p>
  <p>Balance: {{ balance }} ETH</p>
  <p>Data: {{ data }}</p>
  {% comment %} <p>Tx hash: {{ tx_hash }} ETH</p> {% endcomment %}
  
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}

{% block form %}
<form action="{% url 'creating_proposal' %}" method="POST">
  {% csrf_token %}
   <button type="submit">Create test proposal</button>
   <hr>
</form>

{% endblock %}


{% block spec_form %}

<form action="{% url 'creating_proposal' %}" method='POST'>
  {% csrf_token %}

  {{ form.as_p }}

  <input type="submit" value="Submit">
</form>

{% endblock spec_form %}

