{% extends 'base.html' %}

{% block title %}Ending proposal{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% if user.id == proposal.creator.id %}

    <p>Условный дэшборд</p>
    <p>Hi {{ user.email }}!
    <a href="{% url 'logout' %}">Log Out</a></p>
    <p>User id: {{ user.id }}</p>
    <p>Private key: {{ user.private_key }}</p>
    <p>Eth address: {{ user.eth_address }}</p>
    <p>Proposal long name: {{ proposal.long_name }}</p>
    <p>Proposal short name: {{ proposal.short_name }}</p>
    <p>Proposal status: {{ proposal.status }}</p>
    <p>Num of voters: {{ proposal.voters }}</p>
    {% for op in options %}
    <p>Option: {{ op }}</p>
    {% endfor %}

    <p>Winner: {{ winner }}</p>

    {% comment %} <form action="{% url 'view_proposal' proposal.id  %}" method='POST'>
      {% csrf_token %}
      <p><input type="submit" name="end_proposal" value="Отправить"></p>
    </form> {% endcomment %}

  {% else %}
  <p>You are not creator</p>
  {% endif %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}