{% extends 'base.html' %}

{% block title %}Participation in proposal{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    <p>Условный дэшборд</p>
    <p>Hi {{ user.email }}!
    <a href="{% url 'logout' %}">Log Out</a></p>
    <p>User id: {{ user.id }}</p>
    <p>Private key: {{ user.private_key }}</p>
    <p>Eth address: {{ user.eth_address }}</p>
    <p>Proposal long name: {{ proposal.long_name }}</p>
    <p>Proposal short name: {{ proposal.short_name }}</p>
    <p>Proposal creator id: {{ proposal.creator.id }}</p>
    <p>Proposal creator email: {{ proposal.creator.email }}</p>
    <p>Proposal status: {{ proposal.status }}</p>
    <p>Proposal num of options: {{ proposal.num_of_options }}</p>

    {% for op in options %}
    <p>Option: {{ op }}</p>
    {% endfor %}

    <form action="{% url 'participation_in_proposal' proposal.id  %}" method='POST'>
        {% csrf_token %}
      
        <p><select name="options_list">
            {% for op in options %}
                <option value={{ op }}>{{ op }}</option>
            {% endfor %}
            </select></p>
            <p><input type="submit" value="Отправить"></p>
      </form>

    
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}